*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

# CMake files
cmake_install.cmake
CMakeCache.txt
Makefile
PokemonGame.cbp

# Folders
Testing/
bin/
CMakeFiles
.idea/
cmake-build-debug/